h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.person-img{
    width:100px;
    height:auto;

}

.review{
    display: flex;
    justify-content: space-between;
    width: 100vw;

}

#author-1{
    background-color: red;
}